body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("../../img/fondo.jpg");
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #8de266;
    padding: 55px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

h1 {
    display: flex;
    justify-content: center;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para las opciones del select */
select option {
    background-color: #fff;
    color: #000;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.boton-volver{
    background-color: #000;
    color: white;
    width: 120px;
    height: 37px;
}
