#calendar {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f4f9f4; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}
body{
    background-image: url("../../img/fondo.jpg");
}

.fc-toolbar-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.fc-day-header {
    background-color: #c2e5c1; 
    color: #333;
    font-weight: bold;
    border: none;
}

.fc-day {
    background-color: #e7f3e7; 
    border: 1px solid #d5d5d5;
    text-align: center;
}

.fc-event {
    background-color: #4caf50; 
    color: #fff;
    border: none;
}

.fc-button {
    background-color: #4caf50; 
    color: #fff;
    border: none;
}

.fc-button:hover {
    background-color: #45a049; 
}

h1{
    display: flex;
    justify-content: center;
    background-color: rgb(144, 17, 203);
}

.logo{
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    
}

.titulo-barra{
    background-color: white;
}




